body {
  font-family:		"DejaVu Sans", sans-serif;
  color:		#000000;
  background-color:	#ffffff;
}

/* Use odd for left aligned headings/sub-headings. Even for centered. */
h1 {
  font-size: xx-large;
  font-variant: small-caps;
  font-weight: normal;
  margin: 2ex 0ex 1ex 0ex;
  padding: 0pt;
}
h3 {
  font-size: x-large;
  font-variant: small-caps;
  font-weight: normal;
  margin: 2ex 0ex 1ex 0ex;
  padding: 0pt
}
h5 {
  font-size: large;
  font-variant: small-caps;
  font-weight: normal;
  text-decoration: underline;
  margin: 2ex 0ex 1ex 0ex;
  padding: 0pt;
}

h2 {
  font-size: x-large;
  font-variant: small-caps;
  text-align: center
}

/* Two column layout.*/
div.left {
  float: left;
  width: 64.5%;
  padding: 0ex .5% 0ex 0ex;
}

div.right {
  float: left;
  width: 34.5%;
  padding-right: 0px;
  padding-left: .5%;
}

div.helpPopup {
  /* max-width: 60%; max-height: 37%; */
  max-width: 60%; max-height: 60%;
  overflow: auto;
  /*
  margin: auto;
  position: relative;
  background: #ffffff;
  margin: 0em; */
  padding: 1ex 2ex 1.5ex 2ex;
  border: solid;
  border-width: thin;
  border-color: #000000;
  background-color: #c0d0ff;
}

p
{
  text-indent: 2ex;
  text-align: justify;
  margin: 1.5ex 0pt .5ex 0pt;
  padding: 0ex;
}

table {border-spacing: 2ex 1pt}
thead {font-weight: bold}
tr {vertical-align: top}
tr.header, td.header { font-style: italic; white-space: nowrap}

a.helpref { font-size: x-small; vertical-align: super; text-decoration: none}

ul.toplist, ul.deflist {
  /* list-style-type: none;
  font-style: italic; */
  margin: 1ex 0ex 0ex 2ex;
  padding: 0ex;
}
li.deflist { clear: right; }
.defitem {
  display: none;
  margin-top: 0ex;
  margin-bottom: 1ex;
  /*margin-left: 2ex;*/
  font-style: normal;
  text-align: justify;
  font-size: small;

}
.defitemToggleLink {font-size: xx-small; float: right;}

.notice {
  background-color: #ffff80
}

.box {
  display: block;
  position: relative;
  border: solid;
  border-width: thin;
  padding: 1ex;
  border-color: #c0c0c0;
  margin-bottom: 1ex;
}

.rightToggleLink
{
  font-variant: normal; font-size: xx-small; float: right;
}

.topright, .boxContentToggleLink, .helpPopupModalPopupClose
{
  display: block;
  position: absolute;
  top: 1ex; right: 1ex;
  z-index: 1;
  max-width: 40%;
  font-size: xx-small;
}

.sig, .footnote {font-size: x-small;}
.code {
    color:	    #606060;
    font-family:    monospace, fixed;
    white-space:    nowrap
}
.linklike {
    color:		#0000C0;
    background-color:	transparent;
    text-decoration:	underline;
    cursor:		pointer;
}
.first {margin-top: 0ex}
.only {margin-top: 0ex; margin-bottom: 0ex}
.last {margin-bottom: 0ex}
.nomargins {margin: 0px; padding 0px;}
.timestamp {clear: both; text-align: left; font-size: xx-small; }
